html{
    height: 330vh;
}
body{
    background-image:linear-gradient(45deg, white, rgb(17, 0, 255));
    color: rgb(0, 0, 0);
    font-family: poppinsregular;
    width: 100%;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
main{
    width: 100%;
    align-items: center;
}

.container{
    max-width: 1680px;
    margin:0 auto;
    padding: 0px 20px;
    align-items: center;
    text-align: center;
}

.flex{
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-mobile{
    display: none;
}


#header{
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px 0px;
    font-family: poppinsblack;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    transition: .5s;
}

#header-mobile{
    display: none;
}

#header img{
    height: 100px;
    vertical-align: middle;
}
#header.rolagem img{
    height: 70px;
}

#header.rolagem{
    background-color: black;
    padding: 0;
}

#header.rolagem li{
    color: #fff;
    font-size: 100%;
}
#header.rolagem li:hover{
    color: #ffffff8e;
    font-size: 100%;
}

#banner{
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    background-image: url(/Assets/Imagens/Construção\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#banner .titulo-inicio{
    text-align: center;
    width: 100%;
    border: 500px;
    background-color: rgba(255, 255, 255, 0.438);
}
#banner .titulo-inicio h1{
    margin: 20px auto;
    font-family: poppinsblack;
    font-size: 500%;
    border: 0;
}
#banner .titulo-inicio h2{
    margin: 0 auto;
    line-height: 5px;
    font-family: poppinslight;
}

.btn-contato button{
    width: 160px;
    height: 60px;
    border: 0;
    background-color: rgb(50, 42, 165);
    color: #fff;
    font-family: poppinsblack;
    border-radius: 10px;
    font-size: 150%;
    transition: .1s;
}
.btn-contato button:hover{
    width: 170px;
    height: 70px;
    border: 0;
    background-color: rgb(50, 42, 165);
    color: #e0e0e0;
    font-family: poppinsblack;
    border-radius: 10px;
    font-size: 160%;
}
#header.rolagem .btn-contato button{
    width: 130px;
    height: 45px;
    border: 0;
    background-color: rgb(50, 42, 165);
    color: #fff;
    font-family: poppinsblack;
    border-radius: 5px;
    font-size: 100%;
    transition: .1s;
}

#header.rolagem .btn-contato button:hover{
    width: 135px;
    height: 50px;
    font-size: 105%;
}
.btn-contato a:hover{
    background-color: rgb(216, 216, 216);
}
#title{
    margin-left: 100px;
    font-size: 35px;
    flex-direction: column;
    line-height: 5px;
}

li{
    font-size: 150%;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding:0 20px;
}
li:hover{
    color: rgb(209, 209, 211);
    transition: 0.3s all;
}

h1{
    font-weight: 200%;
}
    

main{
    font-family: poppinglight;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#sobre h2{
    margin: 0 auto;
    font-size: 40px;
    line-height: 50px;
    padding:30px 0;
    font-family: poppinsmedium;
}

span{
    color: rgb(50, 42, 165)
}

#sobre{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 0 30px;
}

#sobre .subtitulos{
    font-size: 150%;
    line-height:0px;
    font-family: poppinsregular;
    text-align: justify;
}
  
#sobre .subtitulos p{
    line-height: 25px;
    padding: 0 auto;
    margin: 0 auto;
    
}

#gocnt{
    align-items:center;
    display: flex;
    flex-direction: column;
}
.cnt{
    display: flex;
    flex-direction: row;
}

.divab{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.divab img{
    padding: 10px;
}
.ladoA{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.ladoB{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

#carrossel1{ 
    align-items: center;
    justify-content: center;
    font-family: poppinsregular;
    padding: 0 40px;
    
}
#carrossel2{ 
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    font-family: poppinsregular;
}

#slider1{
    width: 300px;
    height: 350px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border: solid rgba(255, 255, 255, 0.425);
    border-radius: 10px;
}
#slider2{
    width: 300px;
    height: 350px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border: solid rgb(50, 42, 165);
    border-radius: 10px;
}

.slides{
    width: 400%;
    height: 350px;
    display: flex;
    transition: margin-lefs is ease;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1.5s;
}

.manual-navigation {
    position: absolute;
    width: 300px;
    margin-top: -40px;
    display: flex;
    justify-content: center;   
}

.manual-btn, .navigation-auto div{
    border: 2px solid rgb(50, 42, 165);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;   
    transition: 0.5s;
}

.manual-btn:not(:last-child), .navigation-auto div:not(:last-child){
    margin-right: 10px;
}

.manual-btn:hover{
    background-color: rgb(255, 255, 255);
}

#slider1-radio1:checked ~ .first{
    margin-left: 0;
}
#slider1-radio2:checked ~ .first{
    margin-left: -25%;
}
#slider1-radio3:checked ~ .first{
    margin-left: -50%;
}
#slider1-radio4:checked ~ .first{
    margin-left: -75%;
}

#slider2-radio1:checked ~ .first{
    margin-left: 0;
}
#slider2-radio2:checked ~ .first{
    margin-left: -25%;
}
#slider2-radio3:checked ~ .first{
    margin-left: -50%;
}
#slider2-radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto{
    position: absolute;
    width: 300px;
    margin-top: 310px;
    display: flex;
    justify-content: center
    ;
}

#slider1-radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: rgb(255, 255, 255);
}
#slider1-radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: rgb(255, 255, 255);
}
#slider1-radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: rgb(255, 255, 255);
}
#slider1-radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: rgb(255, 255, 255);
}
#slider2-radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: rgb(255, 255, 255);
}
#slider2-radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: rgb(255, 255, 255);
}
#slider2-radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: rgb(255, 255, 255);
}
#slider2-radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: rgb(255, 255, 255);
}

#servicos-mobile{
    display: none;
}

#servicos{
    padding: 0 30px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.icones{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#servicos .icones .iconesE{
    display: flex;
    flex-direction: column;
    
}
#servicos .icones img{
    margin: 10px 10px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}
#servicos .icones .iconesD{
    display: flex;
    flex-direction: column;
}

#contato {
    background-color: rgb(50, 42, 165);
    font-family: poppinsregular;
    margin: 0 auto;
    padding: 10px 40px;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#contato .atuacao{
    font-family: poppinsregular;
    max-width: 1280px;
    color: #ffffff;
    font-size: 150%;
    
}

#contato .atuacao h1{
    font-family: poppinsregular;
    width: 100%;
    color: rgb(255, 255, 255);
}

#contato .atuacao p{
    padding-right: 50px;
}

.formulario{
    color: rgb(255, 255, 255);
}
#contato .form{
    padding: 20px 45px;
    position: relative;
    display: flex;
    max-width: 200px;
    flex-direction: column;
    margin-right: 30px;
    border-radius: 5px;
    font-family: poppinslight;
    
    color: black;
    background-color: rgb(255, 255, 255);
    justify-self: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    
}
#contato .form input{
    padding: 5px;
    margin-bottom: 10px;
    font-family: poppinsregular;
    border: none;
    border-bottom: solid 1.5px rgb(50, 42, 165);
    width: 100%;
}

#contato .form label{
    font-family: poppinsregular;
}

#contato .form .msg{
    margin-top: 10px;
}

#contato .form textarea{
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    border: solid 1.5px rgb(50, 42, 165);
    font-family: poppinsregular;
}

#contato .form button{
    color: white;
    border: none;
    width: 80px;
    height: 30px;
    background-color: rgb(50, 42, 165);
    border-radius: 5px;
    transform: 0.5;
}

#contato .form button:hover{
    background-color: rgb(99, 95, 151);
}

#contato h2{
    font-size: 1em;
}
#contato .form_local{
    display: flex;
    flex-direction: row;
}
.mapbox{
    color: white;
}
#contato .map{
    border: solid 5px black;
    vertical-align: center;
    display: flex;
    width: 650px;
    min-height: 500px;
    border: 0cap;
    position: relative;
    align-items: center;
    justify-content: center;
    
}

#contato .map iframe{
    margin: 0 auto;
    padding: 9 auto;
    border-radius: 10px;
    border: solid 5px black; 
    
}
#footer{
    height: 30vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: poppinsregular;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

#footer .content{
    width: 90%;
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    font-family: poppinslight;
    text-align: center;
    justify-content: center;
}

#footer h1{
    font-size: 120%;
    color: rgb(75, 75, 75);
}
#footer .content p{
    font-size: 100%;
}

#footer img {
    max-width: 30px;
    max-width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

#footer .comandos li{
    font-size: 100%;
    text-decoration: none;
    color: black;
}

#footer .comandos {
    margin: 0 auto;
    padding: 0 auto;
}


#footer .cop{
    text-align: center;
    justify-content: center;
}

#whats img{
    position: fixed;
    bottom: 60px;
    right: 30px;
    width: 50px;
    height: 50px;
    transition: .2s;
    
}

#whats img:hover{
    width: 60px;
    height: 60px;
}

.cop{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: 60px;
}
.cop p{
    padding: 0px 20px;
}
