@media screen and (max-width: 760px){ 
    html{
        height: auto;
    }
    #header{
        display: none;
    }
    #header-mobile{
        display:flex;
        flex-direction: row;
        padding-top: 100px;
        padding-left: 20px;
        font-size: 50%;
        align-items: center;
        text-align: center;
        align-content: center;
        width: 100%;
        font-family: poppinsblack;
        top: 0;
        left: 0;
        z-index: 99999;
        transition: .5s;
    }
   
    #header-mobile img{
        max-width: 50px;
        margin: 0 auto;
        vertical-align: middle;
    }

    #header-mobile a{
        padding: 10px 0px;
    } 
    
    #header-mobile button{
        text-decoration: none;
        background-color: rgb(50, 42, 165);
        font-family: poppinsblack;
        color: white;
        font-size: 200%;
        width: 100px;
        height: 110%;
        border: none;
        border-radius: 10px;
    }

    #header-mobile.rolagem{
        display: none;
    }

    

    #banner .titulo-inicio{
        text-align: center;
        width: 100%;
        border: 500px;
        background-color: rgba(255, 255, 255, 0.438);
    }
    #header{
        display: none;
    }
    
    #header-mobile .container{
        max-width: 1680px;
        margin:0 auto;
        align-items: center;
        text-align: center;
    }
    #header-mobile.flex{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
    }

    #header-mobile{
        display: contents;
        align-items: center;
        text-align: center;
        width: 100%;
        padding:10px 0;
        font-family: poppinsblack;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        transition: .5s;
        font-size: 50%;
    }

    #header-mobile img{
        max-width: 20px;
    }
    


    #banner .titulo-inicio h1{
        font-size: 200%;
    }
    #banner .titulo-inicio h2{
        font-size: 100%;
        margin: 0 auto;
        line-height: 5px;
    }

    #sobre{
        min-height: 100vh;
        max-width: 760px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-content: center;
        font-size: 80%;
        padding: 0 30px;
        color: white;
    }

    #sobre h2{
        font-size: 150%;
        line-height: 10px;
    }

    #sobre .subtitulos{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #sobre .subtitulos p{
        margin-top: 20px;
        text-align: center;
        line-height: 25px;
        width: 350px;
    }

    #sobre span{
        color: rgb(203, 202, 255);
    }

    #sobre .cnt h2{
        font-size: 220%;
    }

    .divab{
        flex-direction: column;
    }
    .divab img{
        background-color: white;
        border-radius: 20px;
        margin: 10px;
    }
    
}