@media screen and (max-width: 760px){ 
    html{
        height: auto;
    }
    #header{
        display: none;
    }

    #banner{
        height: 120vh;
    }

    #banner .flex-mobile{
        margin: 0 auto;
        justify-content: center;
    }
    #banner #header-mobile{
        position:absolute;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 100%;
        width: 100%;
        font-family: poppinsblack;
        transition: .5s;
        top: 0;
    }
    #banner #header-mobile nav{
        text-decoration: none;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    #banner #header-mobile img{
        max-width: 70px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-left: 28%;
   }

    #banner #header-mobile li{
        display: flex;
        color: black;
        text-align: center;
        justify-content: center;
        margin: 10px 0;
    }

    
    #banner #header-mobile button{
        text-decoration: none;
        background-color: rgb(50, 42, 165);
        font-family: poppinsblack;
        color: white;
        font-size: 150%;
        width: 150px;
        height: 110%;
        border: none;
        border-radius: 10px;
    }

    #banner #header-mobile.rolagem{
        display: none;
    }

    #banner .titulo-inicio{
        text-align: center;
        width: 100%;
        border: 500px;
        background-color: rgba(255, 255, 255, 0.438);
    }

    #header{
        display: none;
    }

    #banner .titulo-inicio h1{
        font-size: 200%;
    }
    #banner .titulo-inicio h2{
        font-size: 100%;
        margin: 0 auto;
        line-height: 5px;
    }

    #sobre{
        min-height: 100vh;
        max-width: 760px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        align-content: center;
        font-size: 80%;
        padding: 0 30px;
        color: white;
    }

    #sobre .title h2{
        font-size: 220%;
    }

    #sobre h2{
        font-size: 150%;
        line-height: 10px;
    }
    #sobre h1{
        font-size: 00%;
        line-height: 10px;
    }

    #sobre .subtitulos{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #sobre .subtitulos p{
        margin-top: 20px;
        text-align: center;
        line-height: 25px;
        width: 350px;
    }

    #sobre span{
        color: rgb(203, 202, 255);
    }

    #sobre .cnt h2{
        font-size: 220%;
    }

    .divab{
        flex-direction: column;
    }
    .divab img{
        background-color: white;
        border-radius: 20px;
        margin: 10px;
    }
    
    #servicos{
        display: none;
    }

    #servicos-mobile{
        font-family: poppinsregular;
        padding: 0 30px;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    
    #servicos-mobile h1{
        font-size: 200%;
        color: white;
    }

    #servicos-mobile span{
        color: rgb(40, 40, 119);
    }
    
    #servicos-mobile .icones {
        padding: 0px 50px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #servicos-mobile .icones .iconesE{
        display: flex;
        flex-direction: column;
        
    }
    #servicos-mobile .icones img{
        max-width: 150px;
        margin: 10px 10px;
        padding: 5px 5px;
        background-color: rgb(255, 255, 255);
        border-radius: 25px;
        border: solid 1px;
    }
    #servicos-mobile .icones .iconesD{
        display: flex;
        flex-direction: column;
    }
    #contato .atuacao{
        margin: 0 20px;
        justify-content: center;
    }
    #contato .atuacao h1{
        font-size: 100%;
    }
    #contato .atuacao p{
        font-size: 70%;
    }

    #contato .form_local{
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        text-align: center;
        align-content: center;
    }
    
    #contato .formulario{
        margin: 0 auto;
        align-items: center;
        text-align: center;
        align-content: center;
        display: block;
    }

    #contato .mapbox{
        width: 100%;
    }

    #contato iframe{
        display: block;
        margin: 0 auto;
        max-width: 90%;
    }
    #contato .map{
        padding: 0 auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
    }
    #footer{
        width: 100%; 
        padding: 0 auto;
        margin: 0 auto;
    }
    #footer .content{
    width: 90%;
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    font-family: poppinslight;
    text-align: center;
    justify-content: center;
    }

    #footer h1{
        font-size: 100%;
        color: rgb(75, 75, 75);
    }
    #footer .content p{
        font-size: 80%;
    }

    #footer img {
        max-width: 20px;
        max-width: 20px;
        vertical-align: middle;
        margin-right: 10px;
    }

    #footer .comandos li{
        font-size: 80%;
        text-decoration: none;
        color: black;
        justify-content: center;
        text-align: center;
    }

    #footer .comandos {
        margin: 0 auto;
        padding: 0 auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }


    #footer .cop{
       display: none;
    }
    #footer .cop-mobile{
        margin: 0 auto;
        padding: 0 auto;
       display: contents;
       font-size: 80%;
    }
    
}